@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInBottomTop {
	0% {
	  transform: translateY(50%);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
}

@keyframes fadeInLeftRight {
	0% {
	  transform: translateX(-50%);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
}

@keyframes flicker {
	0% {
		filter: saturate(2);
	}
	50% {
		filter: saturate(5);
	}
	100% {
		filter: saturate(2);
	}
}