@import '~shared/styles/_theme.scss';

.board {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;

    .tile {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
        width: 12vw;
        height: 12vw;
        max-width: 136px;
        max-height: 136px;
        padding: 4px;
        border-radius: 4px;
        background-color: map-get($colors, "tileBackgroundActive");
        cursor: pointer;
        
        &:focus, &:hover {
            filter: brightness(1.25);
        }

        &.empty {
            visibility: hidden;
            cursor: default;
            pointer-events: none;
        }
    }
}